/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body {
  background: #F8F6F2;
  color: #2F3E3E;
  line-height: 1.7;
}


/* NAVBAR */
.navbar {
  background: #5FA8A3;
  padding: 20px 0 ;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-menu a:hover {
  color: #2F3E3E ;
}


/* CONTAINER */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}


/* BUTTON */
.btn-primary {
  background: #E6C972;
  color: #000;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
}

.full {
  width: 100%;
  text-align: center;
}

/* HERO */
.hero {
  padding: 120px 0 100px;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 18px;
}

.hero-text p {
  max-width: 520px;
  margin-bottom: 28px;
}

.hero-video {
  width: 100%;
  max-width: 620px;
  border-radius: 18px;
  box-shadow: -24px -1px 99px -16px rgba(0,0,0,0.56);
-webkit-box-shadow: -24px -1px 99px -16px rgba(0,0,0,0.56);
-moz-box-shadow: -24px -1px 99px -16px rgba(0,0,0,0.56);
}

/* SECTION */
.section {
  padding: 120px 0;

}

.section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}




/* CARA KERJA */
.workflow {
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.workflow-step {
  display: flex;
  gap: 22px;
}

.step-number {
  width: 52px;
  height: 52px;
  background: #5FA8A3;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workflow-line {
  width: 2px;
  height: 28px;
  background: rgba(0,0,0,0.2);
  margin-left: 25px;
}



/* FEATURES */
.features {
  display: grid;
  gap: 28px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  font-weight: 600;
  transition: transform 0.25s ease;
}

.card:hover {
  transform: translateY(-6px);
}

/* FOOTER */
.footer {
  background: #5FA8A3;
  color: #fff;
  padding: 70px 0 24px;
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 50px;
}

.footer-links ul {
  list-style: none;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.85;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid rgba(255,255,255,0.25);
  padding-top: 18px;
  font-size: 13px;
}

/* POPUP */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.popup-overlay:target {
  opacity: 1;
  pointer-events: auto;
}

/* Tambahan*/
body:has(.popup-overlay:target) {
  overflow: hidden;
}

.popup-box {
  background: #F8F6F2;
  width: 100%;
  max-width: 420px;
  padding: 38px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 16px;
  right: 18px;
  font-size: 28px;
  text-decoration: none;
  color: #2F3E3E;
}

.popup-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.popup-desc {
  font-size: 14px;
  margin-bottom: 24px;
}

.popup-footer {
  margin-top: 18px;
  font-size: 14px;
}

.popup-footer a {
  color: #5FA8A3;
  font-weight: 600;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .nav-menu {
    display: none;
  }
}
